# Flutter / Dart
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
build/

# IDE / tooling
.idea/
.vscode/
*.iml
devtools_options.yaml

# OS
.DS_Store
Thumbs.db

# Logs
*.log
hs_err_pid*
replay_pid*

# Archives
*.zip

# Generated / ephemeral
android/local.properties
android/.gradle/

